:host {
    --sds-c-backdrop-color-background: rgba(8, 7, 7, 0.47);
	--sds-c-checkbox-shadow-focus: 0 0 0px #dddbda;
	--sds-c-checkbox-color-border-focus: #dddbda;
}

p, li {
	text-align: justify;
}
code {
	-moz-hyphens: none;
	-ms-hyphens: none;
	-webkit-hyphens: none;
	hyphens: none;
}
.scrollerSize {
	height: 10rem;
}
.previewTableHeight {
	height: 15rem;
}
.previewTable {
	width: 100%;
}
.dragging {
	transform: rotate(3deg);
	transform-origin: 3rem 3rem;
}