p, li {
	text-align: justify;
}
code {
	-moz-hyphens: none;
	-ms-hyphens: none;
	-webkit-hyphens: none;
	hyphens: none;
}
.scrollerSize {
	height: 10rem;
}
.previewTableHeight {
	height: 15rem;
}
.previewTable {
	width: 100%;
}
.dragging {
	transform: rotate(3deg);
	transform-origin: 3rem 3rem;
}